<!-- ledger.html-->

{% extends "base.html" %} {% block title %}Ledger{% endblock %}


<!--Recursos-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="static/vendors/nprogress/nprogress.css" rel="stylesheet">
<link href="static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<link href="static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<link href="static/build/css/custom.min.css" rel="stylesheet">
<!--Recursos-->


{% block content %}




<!--TABELA DE DADOS-->
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#home">Contas de Balanço</a>
    </li>
    <li>
        <a data-toggle="tab" href="#menu2">Contas de Resultado</a>
    </li>
</ul>


<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h2 class="report">Balanço Patrimonial</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ativo</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <ul class="list-group">
                        <li class="list-group-item">Conta de Ativo 1</li>
                        <li class="list-group-item">Conta de Ativo 2</li>
                        <li class="list-group-item">Conta de Ativo 3</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Passivo</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Conta de Ativo 1</li>
                        <li class="list-group-item">Conta de Ativo 2</li>
                        <li class="list-group-item">Conta de Ativo 3</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Patrimônio Líquido</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Conta de Ativo 1</li>
                        <li class="list-group-item">Conta de Ativo 2</li>
                        <li class="list-group-item">Conta de Ativo 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="menu2" class="tab-pane fade">
        <h2 class="report">Contas de Resultado</h2>
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">Receita</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse in">
                    <ul class="list-group">
                        <li class="list-group-item">Conta de Ativo 1</li>
                        <li class="list-group-item">Conta de Ativo 2</li>
                        <li class="list-group-item">Conta de Ativo 3</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">Despesas Essenciais</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Conta de Ativo 1</li>
                        <li class="list-group-item">Conta de Ativo 2</li>
                        <li class="list-group-item">Conta de Ativo 3</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">Despesas Discricionárias</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Conta de Ativo 1</li>
                        <li class="list-group-item">Conta de Ativo 2</li>
                        <li class="list-group-item">Conta de Ativo 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!--TABELA DE DADOS-->


<!--Scripts -->
<script src="static/vendors/jquery/dist/jquery.min.js"></script>
<script src="static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static/vendors/fastclick/lib/fastclick.js"></script>
<script src="static/vendors/nprogress/nprogress.js"></script>
<script src="static/vendors/iCheck/icheck.min.js"></script>
<script src="static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="static/vendors/jszip/dist/jszip.min.js"></script>
<script src="static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="static/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="static/build/js/custom.min.js"></script>
<!--Scripts -->
{% endblock %}