{% extends "base.html" %}
{% block title %}Ledger{% endblock %}


{% block content %}

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/2017.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2017.2/latest/css/structure/infragistics.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2017.2/latest/css/structure/modules/infragistics.ui.treegrid.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2017.2/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2017.2/latest/js/infragistics.lob.js"></script>


<div class="clearfix">
	<div class="row">
    	<div class="col-md-12 col-sm-12 col-xs-12">
        	<div class="x_panel">
            	<div class="x_title">
                	<h2>Income Statement Project</h2>
                	<div class="clearfix"></div>            
                        <div class="scrolling-wrapper">
                            <style type="text/css">
    
                            .scrolling-wrapper {
                              overflow-x: scroll;
                              overflow-y: hidden;
                              white-space: nowrap;
                            }

                            </style>
                            <p>
                            This table is the Pandas DataFrame (to_html).
                            It is the result of that query, in a Pivot table.
                            So this is a good idea of how the data should be displayed.
                            It is also a good idea on how to pass data from MySQL to Flask to HTML.
                            </p>

                            {{ isdata|safe }}

                        </div>
                        <script type="text/javascript">
                        var dataset = {{ isdata|safe }}
                        </script>
                        <script type="css">
                        </script>
                
                </div>
                    <p> This HTML code has a table that is collapsable by category, and that has the "sum" functionality for parent accounts - you can see in the code that it sums the values of the child accounts, maybe there's something you can use in here</p>
                <div class="x_content" id="test">

    <table id="treegrid1"></table>

    <script>
        $(function () {

            var dataSource = [
                {
                    "number": "1000", "name": "Revenue (Level 1)", "balance": "", "balance": "", "assets": [
                        {
                            "number": "1003", "name": "Operating Revenue (Level 2)", "balance": "", "assets": [
                                {
                                    "number": "1115", "name": "Income (Level 3)", "balance": "", "assets": [
                                        { "number": "1120", "name": "Salary (Level 4)", "balance": 1254 },
                                        { "number": "1130", "name": "Increases during the year", "balance": 147 },
                                        { "number": "1140", "name": "Decreases during the year", "balance": 345 },
                                        { "number": "1132", "name": "Accum. Depreciation, Buildings", "balance": 526 },
                                        { "number": "1142", "name": "Lands and Buildings, Total", "balance": 953 }
                                    ]
                                },
                                {
                                    "number": "1200", "name": "Operating Equipment", "balance": "", "assets": [
                                        { "number": "1290", "name": "Operating Equipment, Total", "balance": 998 }
                                    ]
                                },
                                {
                                    "number": "1300", "name": "Vehicles", "balance": "", "balance": "",  "assets": [
                                        { "number": "1390", "name": "Vehicles, Total", "balance": 758 }
                                    ]
                                },
                                { "number": "1990", "name": "Fixed assets, Total", "balance": 7394 }
                            ]
                        },
                        {
                            "number": "2000", "name": "Current assets", "balance": "", "assets": [
                                {
                                    "number": "1125", "name": "Inventory", "balance": "", "assets": [
                                        { "number": "1121", "name": "Resale Items", "balance": 507 },
                                        { "number": "1131", "name": "Finished Goods", "balance": 135 },
                                        { "number": "1141", "name": "Raw Material", "balance": 497 },
                                        { "number": "1131", "name": "Inventory, Total", "balance": 897 }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ];

            $("#treegrid1").igTreeGrid({
                width: "100%",
                dataSource: dataSource,
                autoGenerateColumns: false,
                primaryKey: "number",
                columns: [
                    { headerText: "Number", 
                        key: "number", 
                        width: "20%", 
                        dataType: "number" },
                    
                    { headerText: "Name", 
                        key: "name", 
                        width: "20%", 
                        dataType: "string" },
                    
                   { headerText: "Jan2017", 
                        key: "balance", 
                        width: "12%", 
                        dataType: "number", 
                        formatter: balanceSum, 
                        template: "$ ${balance}" },

                   { headerText: "Feb2017", 
                        key: "balance", 
                        width: "12%", 
                        dataType: "number", 
                        formatter: balanceSum, 
                        template: "$ ${balance}" },

                   { headerText: "Mar2017", 
                        key: "balance", 
                        width: "12%", 
                        dataType: "number", 
                        formatter: balanceSum, 
                        template: "$ ${balance}" },

                    { headerText: "Apr2017", 
                        key: "balance", 
                        width: "12%", 
                        dataType: "number", 
                        formatter: balanceSum, 
                        template: "$ ${balance}" },

                    { headerText: "May2017", 
                        key: "balance", 
                        width: "12%", 
                        dataType: "number", 
                        formatter: balanceSum, 
                        template: "$ ${balance}" }
                ],
                childDataKey: "assets",
                initialExpandDepth: 3,
                features: [
                    {
                        name: "Resizing"
                    },
                    {
                        name: "ColumnMoving",
                        columnMovingDialogContainment: "window"
                    }
                ]
            });
        });
        function balanceSum(val, record) {
            if (val) {
                return val;
            }
            return calcSum(record, 0);
        }
        function calcSum(row, sum) {
            var i, child;
            if (row["assets"]) {
                for (i = 0; i < row["assets"].length; i++) {
                    child = row["assets"][i];
                    sum = child["assets"] ? calcSum(child, sum) : sum + calcSum(child, sum);
                }
                return sum;
            }
            return row["balance"];
        }

    </script>

            	</div>
        	</div>
    	</div>
	</div>
</div>


<div class="clearfix">






{% endblock %}