<!-- reports.html-->
{% extends "base.html" %}
{% block title %}Reports{% endblock %}

{% block content %}

<!-- /graph area -->
<div class="container fluid">
    <div class="x_panel">
        <div class="x_title">
            <h2>Income Statement <small>Sessions</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
            <form class="form-horizontal form-label-left" method="POST" action="/_reports">
                <div class="form-group">
                    <label>Série 1</label>
                    <input class="form-control" id="series1" name="series1" placeholder="Enter the first series">
                </div>
                <div class="form-group">
                    <label>Série 2</label>
                    <input class="form-control" id="series2" name="series2" placeholder="Enter the second series">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        <div id={{ chartID|safe }} class="chart" style="height: 100px; width: 90%"></div>
        <script>
            var chart_id = {{ chartID|safe }}
            var series = {{ series|safe }}
            var title = {{ title|safe }}
            var xAxis = {{ xAxis|safe }}
            var yAxis = {{ yAxis|safe }}
            var chart = {{ chart|safe }}
        </script>    
        <script>
            
                $(document).ready(function() {
                    $(chart_ID).highcharts({
                        chart: chart,
                        title: title,
                        xAxis: xAxis,
                        yAxis: yAxis,
                        series: series
                    });
                });


        </script>
<!--         <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 -->        <script src="http://code.highcharts.com/highcharts.js"></script>
        </div>
    </div>
</div>
<!-- /graph area -->




<!-- bar charts group -->

<!-- /bar charts group -->
{% endblock %}